nav ul {
   list-style: none;
   width: 10em;
   font-size: 1.5em;
   height: 40em;


 }
 nav li {
   margin: 0.5em;
 }

 nav a {
   text-decoration: none;
   font-weight: bold;
   color: black;
 }
 nav a:focus,
 nav a:hover {
   color: darkblue;
   },
 nav a:active {
   text-decoration:underline;
 }

 h1 {
   font-size: 3em;
   margin-top: 0.5em;
   padding-left: 0.5em;
   padding-top: 0.5em;

 }
  h2 {
    padding-left: 1em;
  }


header {
  background-color: lightblue;
height: 100px;
}

.navi1  {
  width: 10em;
  height: 50em;
  background-color: lightblue;
}

.navi1 ul {
  -webkit-colums: 5 7em;
  colums: 5 7em;

}
